$link-color: #167600;
$text-color: #555;
$heading-color: #222;

@media screen and (max-width: 640px) {
    div.sep {
        display: none !important;
    }
    div.details > div {
        width: 100%;
    }
    .float-left {
        width: 100%;
    }
}


html {
    color: $text-color;
    line-height: 1.125;
    // font-family: "Alegreya", "PT Serif", serif;
    font-family: "PT Sans", sans-serif;
}

div {
    overflow: hidden;
    word-wrap: break-word;
}

div.header {
    text-align: center;
    margin: 2em 0 3em 0;
    h1 {
        font-family: "Alegreya", serif;
        font-size: 2.5em;
        letter-spacing: -1px;
        font-weight: normal;
        margin: 0;
        padding: 0;
        color: $heading-color;
    }
    p {
        margin: .5em 0;
        padding: 0;
    }
}

h3 {
    color: $heading-color;
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &:visited {
        color: darken($link-color, 12%);
    }
}

body {
    max-width: 720px;
    margin: 0 auto;
    padding: 15px;
}

div.details {
    padding-left: 1.5em;
    div {
        display: inline-block;
    }
    .start-end {
        color: darken($text-color, 35%);
        &:hover {
            text-decoration: underline;
        }
    }
    .count:hover {
        text-decoration: underline;
    }
}

ul.data {
    list-style-type: none;
    padding: 0;
    li {
        padding: 1.25em 0;
    }
}

.list-item-title {
    font-size: 1.25em;
    line-height: 1.125;
    margin-bottom: .25em;
}

div.sep {
    font-weight: bold;
    color: black;
    padding: 0 .375em;
}

footer {
    text-align: center;
    margin: 6em 0 9em 0;
}

.picture {
    width: 55px;
    margin-right: 25px;
    img {
        border-radius: 25%;
    }
}

.rest {
    max-width: 720px - 55px - 25px;
}

.float-left {
    float: left;
    display: block;
}

.clear {
    clear: left;
}

nav {
    text-align: center;
    ul {
        list-style-type: none;
        padding: 0;
        li {
            display: inline-block;
            padding: 0;
            margin: 0 1em;
        }
    }
}

.today {
    margin-bottom: 2em;
}
