$back: #fdffff;
$title-link-color: #00139a;
$link-color: #cf8201;
$text-color: #555;
$heading-color: #222;


html {
    color: $text-color;
    line-height: 1.125;
    // font-family: "Alegreya", "PT Serif", serif;
    font-family: "PT Sans", sans-serif;
}

.col {
    box-sizing: border-box;
    padding: 0 12px;
}

.col-2 {
    width: 50%;
}

div {
    overflow: hidden;
    word-wrap: break-word;
}

div.header {
    margin: 2em 0 1em 0;
    h1 {
        font-family: "PT Sans", sans-serif;
        font-size: 2.5em;
        letter-spacing: -1px;
        font-weight: bold;
        margin: 0;
        padding: 0;
        a {
            color: $heading-color;
        }
    }
}

div.header-description {
    p {
        margin: .5em 0;
        padding: 0;
    }
}

h3 {
    font-size: 1.25em;
    color: $heading-color;
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &:visited {
        color: $link-color;
    }
}

body {
    background-color: $back;
    max-width: 1280px;
    margin: 0 auto;
    padding: 15px;
}

div.details {
    div {
        display: inline-block;
    }
    .start-end {
        color: darken($text-color, 35%);
        &:hover {
            text-decoration: underline;
        }
    }
    .count:hover {
        text-decoration: underline;
    }
}

ul.data {
    list-style-type: none;
    padding: 0;
    li {
        padding: .75em 0;
    }
}

.list-item-title {
    a {
        color: $title-link-color;
    }

    font-size: 1.25em;
    line-height: 1.125;
    margin-bottom: .125em;
}

div.sep {
    font-weight: bold;
    color: black;
    padding: 0 .375em;
}

.nic {
    font-size: 1.125em;
    padding-left: 1.5em;
}

.picture {
    width: 55px;
    margin-right: 25px;
    img {
        border-radius: 25%;
    }
}

.rest {
    width: auto;
    overflow: hidden
}

.float-left {
    float: left;
    display: block;
}

.clear {
    clear: left;
}

nav {
    ul {
        list-style-type: none;
        padding: 0;
        li {
            display: inline-block;
            padding: 0;
            margin-right: 1.25em;
            font-size: 1.25em;
        }
    }
}

.updated-at {
    display: inline-block;
    margin-left: 1em;
}

@media screen and (max-width: 640px) {
    div.sep {
        display: none !important;
    }
    div.details > div {
        width: 100%;
    }
    .picture {
        width: 100%;
    }
    .rest {
        width: 100%;
    }
    .col {
        padding: 0;
    }
    .col-2 {
        width: 100%;
    }

    nav  {
        margin: 2em 0;
        ul li {
            display: block;
            margin: .75em 0;
        }
    }
    .updated-at {
        display: block;
        margin: 0;
    }
}

footer {
    text-align: center;
    margin: 9em 0 9em 0;

    p {
        margin: 0;
    }
}

.external {
    ul {
        margin: 1em;
        list-style-type: none;
        padding: 0;
        i.fa {
            margin-right: .75em;
        }
    }
}

.rage {
    font-family: sans-serif;
}
