//- base.jade

!!! 5
html(lang="cz")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="initial-scale=1")
        block head

        link(rel="stylesheet", type="text/css", href="/css/style.css")
        link(href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,latin-ext", rel="stylesheet", type="text/css")
        link(href="https://fonts.googleapis.com/css?family=Alegreya:400&subset=latin,latin-ext", rel="stylesheet", type="text/css")
        title
            block title
                | KdyPřednáška - přednášky na VŠE Praha
    body
        div.header
            block header
                h1 KdyPřednáška?
                p veřejně přístupné přednášky na VŠE Praha

            nav
                ul
                    li
                        a(href="/") přednášky
                    li
                        a(href="kluby.html") přehled klubů

        block content

        footer
            block footer
                if now
                    p naposled aktualizováno #{now.strftime("%d.%m.%Y %H:%M")}
                p burtgulash 2015
