//- events.jade

extends ./base.jade

block content
    .col.col-2.float-left
        .today
            h3 dnes - #{today.strftime("%d.%m.%Y")}
            if events_today
                ul.data
                    for event in events_today
                        li
                            +event_li(event)
            else
                p.nic Nic

        .tomorrow
            h3 zítra - #{tomorrow.strftime("%d.%m.%Y")}
            if events_tomorrow
                ul.data
                    for event in events_tomorrow
                        li
                            +event_li(event)
            else
                p.nic Nic

        .tomorrow
            h3 pozítří - #{tomorrow2.strftime("%d.%m.%Y")}
            if events_tomorrow2
                ul.data
                    for event in events_tomorrow2
                        li
                            +event_li(event)
            else
                p.nic Nic


    .col.col-2.float-left
        div
            if current_week
                h3 tenhle týden
            else
                h3 příští týden
            ul.data
                for event in events_week
                    li
                        +event_li(event)
    .clear
